<div *ngIf="liveMatch" class="border">
  <div class="p-2">
    <b>{{liveMatch.summoner}}</b> | Ranked Solo | Summoner's Rift | 23:39
  </div>
  
  <div class="d-flex w-100">
    <app-score-board-team class="w-50"
      [team]="liveMatch.allies"
      teamLabel="Allies"
      [championAssetsUrl]="liveMatch.champion_assets_url"
      [spellsAssetsUrl]="liveMatch.summoner_spell_assets_url">
    </app-score-board-team>

    <app-score-board-team class="w-50"
      [team]="liveMatch.enemies"
      teamLabel="Enemies"
      [championAssetsUrl]="liveMatch.champion_assets_url"
      [spellsAssetsUrl]="liveMatch.summoner_spell_assets_url">
    </app-score-board-team>
  </div>
</div>