<div class="container">
  <div *ngFor="let player of team" class="row" [class.flex-row-reverse]="teamLabel == 'Enemies'">
      <div class="col-6">{{player.summoner}}</div>
      <div class="d-flex col-6">
        <div class="d-flex champion">
          <img src="{{championAssetsUrl+player.champion}}.png">
        </div>
        <div class="d-flex flex-column spells">
          <img src="{{spellsAssetsUrl+player.spell_1.asset}}">
          <img src="{{spellsAssetsUrl+player.spell_2.asset}}">
        </div>
      </div>
    </div>
</div>